@import "./reset.css";

:root {
    --app-light-bg: #f2f4f6;
    --app-tint-light-bg: #dfdede;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #1f2969;
    --app-blue-hover: #364ee6;
}
    
body {
    background-color: var(--app-blue);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

.wrapper {
    padding: 25px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* - - - - - - - - - - - - */
/* Header                  */
/* - - - - - - - - - - - - */

header {
    background-color: var(--app-light-bg);
    height: 75px;
    padding: 12px 10px;
    border-radius: 0 25px 0 0;
}

header i {
    font-size: 48px;
    color: rgb(0, 132, 255);
}

header h1 {
    margin-left: 10px;
}

header input {
    height: 35px;
    width: 175px;
    border-radius: 25px;
    background-color: var(--app-light-bg);
    border: 1px solid #131b4e8f;
    margin: 7px 25px 0 0;
    padding: 0 15px;
    font-size: 20px;
}

ul li {
    list-style: none;
    font-size: 22px;
    padding: 8px 20px;
}

ul > :not(:first-child) {
    border-left: 1px solid #adadad62;
}

ul {
    margin-left: 100px;
}

.navlist {
    justify-content: space-between;
}

.user-image-small {
    width: 55px;
}

.float-right {
    float: right;
}

/* - - - - - - - - - - - - */
/* Body section            */
/* - - - - - - - - - - - - */

.main-panel {
    background-color: var(--app-tint-light-bg);
    min-height: 1680px;
    padding: 20px 20px;
}

/* - - - - - - - - - - - - */
/* User pane               */
/* - - - - - - - - - - - - */

.user-panel {
    background-color: var(--app-light-bg);
    width: 280px;
    height: 480px;
    border-radius: 0 25px 0 0;
}

/* - - - - - - - - - - - - */
/* Post-section            */
/* - - - - - - - - - - - - */

.post-section {
    min-height: 680px;
    width: 625px;
    background-color: var(--app-tint-light-bg);
    position: absolute;
    top: 120px;
    left: 635px;
    padding: 0 25px;
}

.new-post {
    background-color: var(--app-light-bg);
    width: 575px;
    height: 200px;
    border-radius: 0 25px 0 0;
}

.test-post {
    background-color: var(--app-light-bg);
    width: 575px;
    min-height: 400px;
    margin-top: 25px;
    border-radius: 0 25px 0 0;
}

/* Suggested users */

.suggested-users {
    /* background-color: var(--app-light-bg); */
    width: 280px;
    height: 500px;
    position: absolute;
    right: 365px;
    top: 120px;
    padding: 10px;
    color: #0d133a83;
}

.suggested-users > div {
    margin-top: 15px;
}

.user-div {
    display: grid;
    justify-content: start;
    grid-template-columns: auto 1fr;
    margin-top: 10px;
}

.user-div h2 {
    color: #12183d;
}

.user-div p {
    position: absolute;
    left: 69px;
    margin-top: 25px;
    font-size: 14px;
}

.suggested-users img {
    border-radius: 50%;
}

.suggested-users h2, .suggested-users p {
    text-align: center;
}

.suggested-users h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

.suggested-users > h2 {
    font-size: 22px;
    margin-left: 0;
}
