@import "./reset.css";

:root {
    --app-light-bg: #f2f4f6;
    --app-tint-light-bg: #dfdede;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #1f2969;
    --app-blue-hover: #364ee6;
    --app-nice-blue: #0084ff;
}
    
body {
    background-color: var(--app-blue);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

.wrapper {
    padding: 25px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/* - - - - - - - - - - - - */
/* Header                  */
/* - - - - - - - - - - - - */

header {
    background-color: var(--app-light-bg);
    height: 75px;
    padding: 12px 10px;
    border-radius: 0 25px 0 0;
}

header i {
    font-size: 48px;
    color: var(--app-nice-blue);
}

header h1 {
    margin-left: 10px;
}

header input {
    height: 35px;
    width: 175px;
    border-radius: 25px;
    background-color: var(--app-light-bg);
    border: 1px solid #131b4e8f;
    margin: 7px 25px 0 0;
    padding: 0 15px;
    font-size: 20px;
}

ul li {
    list-style: none;
    font-size: 22px;
    padding: 8px 20px;
}

ul > :not(:first-child) {
    border-left: 1px solid #adadad62;
}

ul {
    margin-left: 100px;
}

.navlist {
    justify-content: space-between;
}

.user-image-small {
    width: 55px;
    border-radius: 50%;
}

.float-right {
    float: right;
}

/* - - - - - - - - - - - - */
/* Body section            */
/* - - - - - - - - - - - - */

.main-panel {
    background-color: var(--app-tint-light-bg);
    min-height: 1000px;
    padding: 20px 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.281);
}

/* - - - - - - - - - - - - */
/* User pane               */
/* - - - - - - - - - - - - */

.user-panel {
    background-color: var(--app-light-bg);
    width: 280px;
    height: 480px;
    border-radius: 0 25px 0 0;
    text-align: center;
    padding: 25px;
    box-shadow: 0px 0px 10px #81818144;
}

.big-profile-image {
    border-radius: 50%;
}

.followers, .followers-value {
    float: left;
}

.following, .following-value {
    float: right;
}

.followers, .following, .views {
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2e2e2e27;
}

.metrics-wrapper {
    margin-top: 10px;
    padding: 0 15px;
    font-size: 28px;
    font-weight: 300;
}

.fa-envelope {
    position: absolute;
    font-size: 48px;
    color: #0084ff;
    left: 575px;
    top: 128px;
}

.fa-envelope:hover {
    color: #3b9ffd
}

/* - - - - - - - - - - - - */
/* Post-section            */
/* - - - - - - - - - - - - */

.post-section {
    min-height: 680px;
    width: 625px;
    background-color: var(--app-tint-light-bg);
    position: absolute;
    top: 120px;
    left: 635px;
    padding: 0 25px;
}

.new-post {
    background-color: var(--app-light-bg);
    width: 575px;
    height: 200px;
    border-radius: 0 25px 0 0;
    box-shadow: 0px 1px 15px #81818138;
}

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
}

.new-post i {
    font-size: 28px;
    margin-top: 5px;
    margin-left: 10px;
    color: #0084ff;
}

.new-post input[type=button] {
    width: 100px;
    margin-right: 10px;
    height: 40px;
    background-color: var(--app-nice-blue);
    border-radius: 15px;
    font-size: 20px;
    color: var(--app-light-bg);
    font-weight: 400;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--app-light-bg);
    border-bottom: 1px solid #a8a8a867;
    border-radius: 0 25px 0 0;
}

/* Existing posts */

.user-post {
    background-color: var(--app-light-bg);
    width: 575px;
    min-height: 400px;
    margin-top: 25px;
    border-radius: 0 25px 0 0;
    padding: 25px 25px 4px 25px;
    color: #12183d;
    box-shadow: 0px 1px 15px #81818138;
}

.user-post .user-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 64px;
    float: left;
}

.text-post-wrapper :not(:first-child) {
    margin-top: 10px;
}

.user-name {
    margin-top: 10px;
}

h5 {
    color: rgba(17, 17, 17, 0.452);
}

.text-post-wrapper {
    font-size: 20px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: #0084ff;
    margin-top: 5px;
}

.fa-reply {
    margin-top: 8px;
    color: #0084ff;
}

.reply {
    font-size: 16px;
    float: left;
    line-height: 50px;
    margin-right: 5px;
}

.fa-reply:hover, .fa-plus:hover, .fa-folder-plus:hover, .fa-file-image:hover,
.fa-heart:hover, .fa-arrow-up-right-from-square:hover {
    color: #54abfd
}
/* Suggested users */

.suggested-users {
    /* background-color: var(--app-light-bg); */
    width: 280px;
    height: 650px;
    position: absolute;
    right: 365px;
    top: 120px;
    padding: 10px;
    color: #0d133a83;
    border-bottom: 1px solid #acacac80;
}

.suggested-users > div {
    margin-top: 15px;
}

.user-div {
    display: grid;
    justify-content: start;
    grid-template-columns: auto 1fr;
    margin-top: 10px;
}

.user-div h2 {
    color: #12183d;
}

.user-div p {
    position: absolute;
    left: 69px;
    margin-top: 25px;
    font-size: 14px;
}

.suggested-users img {
    border-radius: 50%;
}

.suggested-users h2, .suggested-users p {
    text-align: center;
}

.suggested-users h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

.suggested-users > h2 {
    font-size: 22px;
    margin-left: 0;
}
